# Calculate basic Statistics in Pandas

In this section we will see how to calculate basic statistics of a data set with Pandas.

We will use the same data sets as in the previous notebooks.

In [4]:
import pandas as pd

df = pd.read_csv('./student_debt.csv')

Looking at basic statistics of the data such as the minimum, maximum, average value of a column can already give us a lot of information and insight about the characteristics of the data.

Pandas has an easy way of retrieving all statistics from a dataframe with the `.describe()` method.

In [5]:
df.describe()

       Unnamed: 0    No.people        Sum    Average     Median
count    72.00000    72.000000  72.000000  72.000000  72.000000
mean     37.50000   402.437500   5.045833  10.547222   6.606944
std      20.92845   366.874162   5.049165   3.751093   2.435554
min       2.00000     0.100000   0.000000   2.200000   1.400000
25%      19.75000    32.300000   0.100000   8.825000   5.000000
50%      37.50000   411.150000   4.550000  11.800000   6.850000
75%      55.25000   632.425000   8.575000  12.600000   8.250000
max      73.00000  1413.700000  19.300000  16.500000  10.900000

Here we can see the mean (average), minimum, maximum values amongst others. Notice that the index of each row is the type of statistic it displays. 
We can use `.loc[]` to access a certain row's all values

In [7]:
df.describe().loc['mean'] #get the average for all values

Unnamed: 0     37.500000
No.people     402.437500
Sum             5.045833
Average        10.547222
Median          6.606944
Name: mean, dtype: float64